<div class="card-body border-t border-gray-400 p-5">
  <p class="text-sm md: text-base ml-5">近くにおすすめのショップがあります</p>
  <div class="flex justify-center items-center h-full">
    <div class="card w-full bg-base-200 border-gray-500 shadow-xl m-2">
      <div class="flex">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=200&maxwidth=200&photo_reference=<%= closest_shop.shop_images[0].image %>&key=<%= ENV["API_KEY"] %>" class="p-3 md:p-5 w-20 h-20 md:w-32 md:h-32 rounded-3xl">
          <div class="flex-col">
            <ul>
              <li class="md:pl-4 pt-3 text-xs md:text-base underline hover:text-yellow-500">
                <%= link_to closest_shop.name, shop_path(closest_shop) %>
              </li>
              <li class="md:pl-4 pt-1.5 text-[10px] md:text-xs">
                <%= closest_shop.address %>
              </li>
              <li class="md:pl-4 pt-1.5 text-[10px] md:text-xs">
                <%= closest_shop.phone_number %>
              </li>
              <a href="https://www.google.com/maps/search/?api=1&query=<%= closest_shop.name %>&query_place_id=<%= closest_shop.place_id %>" target="_blank" rel="noopener noreferrer">
            <li class="mt-1.5 py-1 px-1 text-center rounded-full bg-blue-500 text-white font-bold w-36 hidden md:block hover:bg-gray-300">
              <i class="fa-solid fa-location-dot"></i>
              <span class="text-[10px] md:text-xs">GoogleMapで見る</span>
            </li>
            </a>
          </div>
      </div>
    </div>
  </div>
</div>