<div class="card-body border-t border-gray-400 p-5">
  <p class="text-xs md:text-base ml-2 md:ml-5">近くにおすすめのショップがあります</p>
  <div class="flex justify-center items-center h-full">
    <div class="card w-full bg-base-200 border-gray-500 shadow-xl m-2">
      <div class="flex">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=200&maxwidth=200&photo_reference=<%= closest_shop.shop_images[0].image %>&key=<%= ENV["API_KEY"] %>" class="p-3 md:p-5 w-20 h-20 md:w-32 md:h-32 rounded-3xl">
          <div class="flex-col">
            <ul>
              <li class="md:pl-2 pt-3 text-[9px] md:text-base underline hover:text-yellow-500">
                <%= link_to closest_shop.name, shop_path(closest_shop) %>
              </li>
              <li class="pl-1 md:pl-4 pt-1 text-[7px] md:text-xs">
                <%= closest_shop.address %>
              </li>
              <li class="pl-1 md:pl-4 pt-1 text-[7px] md:text-xs">
                <%= closest_shop.phone_number %>
              </li>
              <a href="https://www.google.com/maps/search/?api=1&query=<%= closest_shop.name %>&query_place_id=<%= closest_shop.place_id %>" target="_blank" rel="noopener noreferrer">
                <li class="mb-1.5 py-2 px-2 mt-1 md:mt-1.5 text-[8px] md:text-xs text-center rounded-full bg-blue-500 text-white font-bold w-24 md:w-40 hover:bg-blue-600">
                <i class="fa-solid fa-location-dot"></i>
                GoogleMapで見る
                </li>
              </a>
          </div>
          <% if user_signed_in? %>
            <a href="/shop_saved_lists" data-turbo-frame="modal" class="ml-auto mr-3 mt-auto mr-5 md:mr-10 mb-3 md:mb-5 bookmark-icon" data-shop-id="<%= closest_shop.id %>">
              <i class="fa-solid fa-plus w-7 g-4 md:w-10 md:h-6 hover:text-yellow-500" data-modal-target="myModal"></i>
            </a>
        <% end %>
      </div>
    </div>
  </div>
</div>