<div class="grid place-items-center">
  <div class="card w-4/5 bg-base-100 shadow-md z-0 rounded-3xl my-20">
    <div class="card-body pt-20">
      <h1 class="text-2xl underline pl-10"><%= @shop.name %></h1>
      <p class="pl-20 mt-4 text-lg">住　　所：<%= @shop.address %></p>
      <div class="flex flex-wrap">
        <p class="pl-20 mt-4 text-lg">営業時間：
          <p class="mt-4 text-lg">
            <%= raw @shop.opening_hours.gsub("\n", '<br>') %>
          </p>
        </p>
      </div>
      <p class="pl-20 mt-4 text-lg">公式サイト：<span class="text-blue-500"><%= link_to "#{@shop.web_site.chomp('/')}", @shop.web_site.chomp('/') %></span></p>
      <p class="pl-20 mt-4 text-lg">電話番号：<%= @shop.phone_number %></p>
      <p class="pl-20 mt-4 text-lg">取扱ブランド</p>
      <p class="text-lg text-center">Daiwa Pier39　YOKE　COMOLI　AURALEE　Captain sunshine　until　</p>
      <p class="text-lg text-center">Daiwa Pier39　YOKE　COMOLI　AURALEE　Captain sunshine　until　</p>
      <p class="pl-20 mt-4 text-lg">ギャラリー</p>
      <div class="flex pl-10">
        <% @shop_images.each do |shop_image| %>
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=200&maxwidth=200&photo_reference=<%= shop_image.image %>&key=<%= ENV['API_KEY'] %>" class="mx-2">
        <% end %>
      </div>
    </div>
    <div class="card-body border-t border-gray-500 p-10">
      <div class="flex justify-center items-center h-full">
        <div class="card w-11/12 bg-base-200 shadow-xl">
          <p class="pl-10 py-10 text-lg">レビュー</p>
          <div class="flex">
              <p class="text-sm text-center">まだ機能していません</p>
          </div>
          <div class="flex justify-end mx-10 mt-10 mb-5">
            <%= link_to 'レビューを書く', '#', class: 'btn btn-neutral w-48 h-10 ' %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body border-t border-gray-500 p-10">
      <div class="flex justify-center items-center h-full">
        <div class="card w-11/12 bg-base-200 shadow-xl">
          <p class="pl-10 py-10 text-ls">近くのおすすめカフェ</p>
        </div>
      </div>
    </div>
  </div>
</div>