<div class="navbar bg-yellow-200 flex justify-between items-center">
  <div class="flex items-center">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', class: 'rounded-full h-16 w-16 ml-5 mr-2' %>
    <% end %>
    <%= link_to '服カフェ', root_path, class: 'btn btn-ghost normal-case text-xl' %>
  </div>
  <div class="drawer-end flex items-center">  
    <% if current_page?(home_path) %>
      <button id="search-clothes-button" class="mx-5"><%= t('defaults.search_shop') %></button>
      <button id="search-cafe-button" class="mr-5"><%= t('defaults.search_cafe') %></button>
    <% end %>
    <% if user_signed_in? %>  
      <%= link_to t('defaults.sign_out'), destroy_user_session_path, data: { turbo_method: :delete }, class: 'mr-5' %>
    <% else %>
      <%= link_to t('defaults.sign_in'), new_user_session_path, class: 'mr-5' %>
    <% end %>
    <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
    <label for="my-drawer-4" class="drawer-button">
      <i class="fas fa-bars mr-5 h-5 w-5"></i>
    </label>
    <div class="drawer-side z-10">
      <label for="my-drawer-4" class="drawer-overlay"></label>
      <ul class="menu p-4 w-80 h-full bg-yellow-50 text-base-content">
        <%= link_to t('defaults.home'), home_path, class: 'mt-10 text-sm border-b border-gray-500 pb-2' %>
        <%= link_to t('defaults.mypage'), my_page_path, class: 'mt-10 text-sm border-b border-gray-500 pb-2' %>
        <%= link_to t('defaults.saved'), '#', class: 'mt-10 text-sm border-b border-gray-500 pb-2' %>
      </ul>
    </div>
  </div>
</div>
