<div class="navbar bg-yellow-200 flex justify-between items-center">
  <div class="flex items-center">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', class: 'rounded-full h-12 w-12 md:h-16 md:w-16 m-auto' %>
    <% end %>
    <%= link_to '服カフェ', root_path, class: 'font-bold text-sm md:text-xl hover:text-yellow-500 ml-3' %>
  </div>
  <div class="drawer-end flex items-center">  
    <% if current_page?(home_path) %>
      <details class="dropdown">
        <summary class="mr-5 ml-1 text-xs md:text-base hidden md:block hover:text-yellow-500"><%= t('defaults.search_brand') %></summary>
          <ul class="p-2 shadow menu dropdown-content z-[1] bg-yellow-50 w-screen max-w-3xl">
            <% @brands.each_slice(4) do |brand_group| %>
              <li class="my-2">
                <ul class="flex space-x-2">
                  <% brand_group.each do |brand| %>
                    <button id="search-brand-button-<%= brand.id %>" class="hover:text-yellow-500"><%= brand.name %></button>
                    <span>|</span>
                  <% end %>
                 </ul>
              </li>
            <% end %>
          </ul>
      </details>
      <div id="search-clothes-button" class="md:flex md:items-center mr-5 hover:text-yellow-500">
        <i class="fa-solid fa-shirt"></i>
        <button class="ml-1 hidden md:block"><%= t('defaults.search_shop') %></button>
      </div>
      <div id="search-cafe-button" class="md:flex md:items-center mr-5 hover:text-yellow-500">
        <i class="fa-solid fa-mug-saucer"></i>
        <button class="ml-1 hidden md:block"><%= t('defaults.search_cafe') %></button>
      </div>
    <% end %>
    <% if user_signed_in? %>  
      <%= link_to t('defaults.sign_out'), destroy_user_session_path, data: { turbo_method: :delete }, class: 'text-xs md:text-sm mr-5 btn btn-neutral' %>
    <% else %>
      <%= link_to t('defaults.sign_in'), new_user_session_path, class: 'text-xs md:text-sm mr-5 btn btn-neutral' %>
    <% end %>
    <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
    <label for="my-drawer-4" class="drawer-button">
      <i class="fas fa-bars mr-5 h-5 w-5"></i>
    </label>
    <div class="drawer-side z-10">
      <label for="my-drawer-4" class="drawer-overlay"></label>
      <ul class="menu p-4 w-80 h-full bg-yellow-50 text-base-content">
        <%= link_to t('defaults.maps'), home_path, class: 'pl-1 mt-10 text-xs md:text-sm border-b border-gray-500 pb-2 hover:text-yellow-500' %>
        <% if current_user %>
        <%= link_to t('defaults.mypage'), my_page_path, class: 'pl-1 mt-10 text-xs md:text-sm border-b border-gray-500 pb-2 hover:text-yellow-500' %>
          <li class='pl-1 mt-10 text-xs md:text-sm border-b border-gray-500 pb-2'><%= t('defaults.shop_saved_list') %></li>
          <% @shop_saved_lists.each do |list| %>
            <%= link_to list.name, shop_saved_list_path(list), class: 'pl-7 mt-5 text-xs md:text-sm border-b border-gray-300 pb-2 hover:text-yellow-500' %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
