<div class="grid place-items-center mb-20">
  <h1 class="text-lg md:text-2xl m-10"><%= t('defaults.my_page') %></h1>
  <div class="card w-11/12 md:w-4/5 bg-base-100 shadow-md z-0">
    <div class="card-body border-b border-gray-500 p-10">
      <div class="flex justify-evenly items-center">
        <%= image_tag 'logo.png', class: 'w-32 h-32 md:w-48 md:h-48' %>
        <div class="flex flex-col">
          <p class="mb-10 text-center"><%= @user.name %></p>
          <%= link_to '編集', edit_my_page_path, class: 'w-16 btn btn-sm md:btn-md btn-neutral' %>
        </div>
      </div>
    </div>
    <div class="card-body border-b border-gray-500 p-10">
      <div class="flex justify-center items-center h-full">
        <div class="card w-full md:w-11/12 bg-base-200 border-gray-500 shadow-xl">
          <div class="border-b border-gray-500 p-5">
            <h2 class="text-sm md:text-lg"><%= t('defaults.shop_saved_list')%></h3>
          </div>
          <div class="card-body p-2 md:p-5">
            <% @shop_saved_lists.each do |list| %>
              <div class="flex justify-between items-center border-b border-gray-400">
                <%= link_to list.name, shop_saved_list_path(list), class: 'text-xs md:text-base text-left p-3 hover:text-yellow-500'%>
                <%= link_to '削除', shop_saved_list_path(list), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'w-16 btn btn-sm md:btn-md bg-red-400 text-white my-2' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body border-t border-gray-500 p-10">
      <div class="flex justify-center items-center h-full">
        <div class="card w-full md:w-11/12 bg-base-200 shadow-xl">
          <p class="p-5 text-sm md:text-lg border-b border-gray-500">マイレビュー</p>
          <% if @reviews.any? %>
            <% @reviews.each do |review| %>
              <div class="border-b border-gray-400 py-5 mx-5">
                <div class="flex justify-between mx-2 items-center">
                  <div class="text-left">
                    <%= link_to review.shop.name, shop_path(review.shop), class: 'text-[10px] md:text-sm hover:text-yellow-500' %>
                  </div>
                  <div class="text-right">
                    <p class="text-[10px] md:text-sm text-gray-500"><%= l review.created_at, format: :simple %></p>
                  </div>
                </div>
                <div class="flex flex-col mt-1.5 mb-1.5 p-2 mx-2 border rounded-lg border-gray-300">
                  <div class="flex items-center mb-2">
                    <i class="fa-solid fa-star text-yellow-500 mr-2"></i>
                    <p class="text-[10px] md:text-sm"><%= review.rating_as_number %></p>
                  </div>
                  <p class="text-[10px] md:text-sm"><%= review.content %></p>
                </div>
              </div>
            <% end %>
          <% else %>
            <p class="text-[10px] md:text-sm py-5 text-center">レビューがありません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>