<%= turbo_frame_tag @shop_saved_list do %>
  <%= form_with model: @shop_saved_list do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="flex justify-between">
      <%= f.text_field :name, class: 'text-3xl input input-warning border-gray-800' %>
      <div>
        <%= f.submit class: 'btn bg-blue-300' %>
        <%= link_to 'キャンセル', @shop_saved_list, class: ' btn bg-gray-300' %>
      </div>
    </div>
  <% end %>
<% end %>