<%= turbo_frame_tag @shop_saved_list do %>
  <%= form_with model: @shop_saved_list do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="flex justify-between">
      <%= f.text_field :name, class: 'text-sm md:text-2xl input input-warning border-gray-800' %>
      <div class="items-center">
        <%= f.submit class: 'ml-3 w-24 md:w-28 btn btn-sm md:btn-md btn-neutral' %>
        <%= link_to 'キャンセル', @shop_saved_list, class: 'ml-3 w-24 md:w-28 btn btn-sm md:btn-md bg-gray-300 text-xs' %>
      </div>
    </div>
  <% end %>
<% end %>