<div class="grid place-items-center mb-20">
  <div class="card w-4/5 bg-base-100 shadow-md z-0 m-20">
    <div class="card-body border-b border-gray-500 p-14">
      <%= render "shop_saved_list", shop_saved_list: @shop_saved_list %>
    </div>
    <div class="card-body border-b border-gray-500 p-10">
      <% @shop_saved_list.shops.each do |shop| %>
        <div class="card bg-base-200 border-gray-500 shadow-xl m-2">
        <div class="flex">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=200&maxwidth=200&photo_reference=<%= shop.shop_images[0].image %>&key=<%= ENV["API_KEY"] %>" class="p-5 w-48 h-48 rounded-3xl">
          <div class="flex-col">
            <ul>
              <li class="pl-6 pt-6 text-3xl underline">
                <%= link_to shop.name, shop_path(shop) %>
              </li>
              <li class="pl-6 pt-4">
                <%= shop.address %>
              </li>
              <li class="pl-6 pt-1.5">
                <%= shop.phone_number %>
              </li>
              <li class="mt-3 mb-3 py-3 px-3 text-center  rounded-full bg-blue-500 text-white font-bold w-48">
                <i class="fa-solid fa-location-dot"></i>
                <%= link_to 'GoogleMapã§è¦‹ã‚‹', "https://www.google.com/maps/search/?api=1&query=#{shop.name}&query_place_id=#{shop.place_id}", target: :_blank, rel: "noopener noreferrer" %>
              </li>
            </ul>
          </div>
          <%# <i class="fa-regular fa-bookmark w-14 h-8 ml-auto mr-10 mt-40 m-5"></i> %>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>