<div class="grid place-items-center my-20">
  <div class="card w-11/12 bg-base-100 shadow-md z-0">
    <div class="card-body border-b border-gray-500 p-10 md:p-14">
      <%= render "shop_saved_list", shop_saved_list: @shop_saved_list %>
    </div>
    <div class="card-body p-3 md:p-10">
      <% @list_shops.each do |shop| %>
        <div class="card bg-base-200 border-gray-500 shadow-xl m-2">
          <div class="flex">
            <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=200&maxwidth=200&photo_reference=<%= shop.shop_images[0].image %>&key=<%= ENV["API_KEY"] %>" class="p-3 md:p-5 w-20 h-20 md:w-36 md:h-36 rounded-3xl">
            <div class="flex-col">
              <ul>
                <li class="md:pl-2 pt-3 text-[9px] md:text-xl underline hover:text-yellow-500">
                  <%= link_to shop.name, shop_path(shop) %>
                </li>
                <li class="pl-1 md:pl-4 pt-1.5 text-[7px] md:text-xs">
                  <%= shop.address %>
                </li>
                <li class="pl-1 md:pl-4 pt-1.5 text-[7px] md:text-xs">
                  <%= shop.phone_number %>
                </li>
                <a href="https://www.google.com/maps/search/?api=1&query=<%= shop.name %>&query_place_id=<%= shop.place_id %>" target="_blank" rel="noopener noreferrer">
              <li class="mb-1.5 py-2 px-2 mt-1 md:mt-1.5 text-[8px] md:text-xs text-center rounded-full bg-blue-500 text-white font-bold w-24 md:w-40 hover:bg-blue-600">
                <i class="fa-solid fa-location-dot"></i>
                GoogleMapで見る
              </li>
              </a>
            </div>
            <%= link_to "削除", shop_list_shop_path(shop_id: shop),  data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？"  }, class: 'w-16 ml-auto mt-auto m-5 btn btn-sm md:btn-md bg-red-400 text-white' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>