<%= turbo_frame_tag review do %>
  <div class="border-b border-gray-400 py-5 mx-5">
    <div class="flex mx-2 items-center">      
      <%= image_tag 'logo.png', class: 'w-9 h-9 rounded-full' %>
      <div class="ml-2 text-sm flex flex-col">
        <p><%= review.user.name %></p>
        <p class="text-gray-500"><%= l review.created_at, format: :simple %></p>
      </div>
      <% if user_signed_in? %>
        <% if current_user.own?(review) %>
          <div class="ml-auto">
            <%= render 'reviews/crud_menus', review: review %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="flex flex-col mt-1.5 mb-1.5 p-2 mx-2 border rounded-lg border-gray-300">
      <div class="flex items-center mb-2">
        <i class="fa-solid fa-star text-yellow-500 mr-2"></i>
        <p class="text-sm"><%= review.rating_as_number %></p>
      </div>
      <p class="text-sm"><%= review.content %></p>
    </div>
  </div>
<% end %>
