<!DOCTYPE html>
<html>
  <head>
    <title>FukuCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= include_gon %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= turbo_frame_tag 'modal' %>
  </head>

  <body class="flex flex-col min-h-screen">
      <%= render 'shared/header' %>
      <%= render 'shared/flash' %>
    <div class="flex-grow bg-yellow-50">
      <%= yield %>
    </div>
      <%= render 'shared/footer' %>
  </body>
</html>
