<!DOCTYPE html>
<html>
  <head>
    <title>FukuCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= include_gon %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= display_meta_tags(default_meta_tags) %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VZEF5NW0K7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-VZEF5NW0K7');
    </script>

    <%= turbo_frame_tag 'modal' %>
  </head>

  <body class="flex flex-col min-h-screen">
      <%= render 'shared/header' %>
      <div id="flash">
        <%= render 'shared/flash' %>
      </div>
    <div class="flex-grow bg-yellow-50">
      <%= yield %>
    </div>
      <%= render 'shared/footer' %>
  </body>
</html>
